.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 100 !important;
  position: relative;
}

.logo h1 {
  margin: 0;
}

.logo img {
  height: 55px;
}

.nav-links {
  display: flex;
  gap: 5rem;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-size: 1.3rem;
  font-weight: 400;
}

.cart-container {
  position: relative;
}

.cart-icon {
  cursor: pointer;
}

.cart-icon img {
  height: 55px;
}

.cart-dropdown {
  position: absolute;
  right: 0;
  top: 4rem;
  width: 15rem;
  color: black;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-radius: 0.4rem;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger img {
  height: 55px;
}

@media (max-width: 991px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5.5rem;
    right: 0;
    width: 100%;
    gap: 0rem;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    overflow: hidden;
  }

  .nav-links a {
    padding: 1rem;
  }

  .nav-links a:hover {
    background-color: #1bac4b;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .cart-icon {
    display: none;
  }
}
