@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;700&display=swap");

body {
  font-family: "Urbanist", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  padding: 1.5rem 1rem;
  max-width: 1500px;
}

@media (max-width: 768px) {
  .App {
    padding: 1rem 1rem;
  }
}
